@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.table {
  border: 1px solid #ccc;
  padding: 20px 5px;
  margin-top: 20px;
  border-radius: 4px;
}

.train-item {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.actions {
  justify-self: flex-end;
  margin-right: 0;
}

.actions span {
  margin-right: 10px;
  cursor: pointer;
}

#date,
#number {
  width: 140px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #222;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  margin-right: 10px;
}

.add {
  width: 80px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  border: 1px solid #222;
  background: none;
  cursor: pointer;
}

.add:hover {
  transition: 0.3s ease-in;
  background: #585858;
  color: #fff;
  border: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}
input:focus::-moz-placeholder {
  color: transparent !important;
}
input:focus:-moz-placeholder {
  color: transparent !important;
}

.fa-trash-alt {
  color: tomato;
}

.fa-edit {
  color: #777;
}
